api_keys.txt
data_raw/*
data_intermediate/full_wildfires.json
data_intermediate/norman_wildfires_SI.json
data_intermediate/norman_wildfires_SI_1800.json
notebooks/wildfire/*
notebooks/wildfire_geo_proximity_example.ipynb
notebooks/epa_air_quality_history_example.ipynb